.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px 10px;
    border-radius: 10px;
    background: #fff;
    gap: 10px;
    opacity: 0;
    animation: show 0.8s forwards;
}

.container input[type="checkbox"] {
    display: none;
}

.checkbox {
    width: 30px;
    height: 30px;
    fill: gray;
}
input[type="checkbox"] + label svg * {
    transition: fill 0.3s;
}
input[type="checkbox"]:checked + label svg * {
    fill: #f44336;
}

.text {
    flex: 1;
    word-break: break-word;
}
.text form {
    position: relative;
    top: 1.5px;
    left: -2px;
}
.text input {
    width: 100%;
    font-size: 16px;
}
.text label {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    position: relative;
    top: 6px;
}

.more {
    margin: 3px;
    width: 24px;
    height: 24px;
}

.action {
    position: absolute;
    right: 0;
    transform: translate(-32%, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    z-index: 9999;
}

.action button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid gray;
    opacity: 0;
    animation: show 1s forwards;
}
.action button:hover {
    scale: 1.2;
    transition: scale 0.3s;
}
.action button:first-child {
    animation-delay: 0.1s;
}

.action button:last-child {
    animation-delay: 0.2s;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes hidden {
    from {
        opacity: 1;
    }
    to {
        opeacity: 0;
    }
}
