@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;800&display=swap");
:root {
    --sidebar-width: 256px;
    --header-height: 64px;
}

* {
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif !important;
}

#root {
    height: 100vh;
    width: 100vw;
}

button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
}

*::-webkit-scrollbar {
    display: none;
}

/* input 기본 스타일 초기화 */
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    outline: none;
    border: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
    display: none;
}

/* input type number 에서 화살표 제거 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
